# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
chat-app/dist
chat-app/tmp
chat-app/out-tsc
chat-app/bazel-out

# Node
chat-app/node_modules
chat-app/npm-debug.log
chat-app/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
chat-app/.angular/cache
chat-app/.sass-cache/
chat-app/connect.lock
chat-app/coverage
chat-app/libpeerconnection.log
chat-app/testem.log
chat-app/typings

# System files
chat-app/.DS_Store
chat-app/Thumbs.db

../server/node_modules/